<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>userCarFirstController</servlet-name>
        <servlet-class>controllers.userCarFirstController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCar_CarReport_Controller</servlet-name>
        <servlet-class>controller.adminController.AdminCar_CarReport_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>adminController.AdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminCar_CarReport_Controller</servlet-name>
        <url-pattern>/AdminCar_CarReport_Controller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userCarPaginationController</servlet-name>
        <servlet-class>controllers.userCarPaginationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userCarDetail</servlet-name>
        <servlet-class>controllers.userCarDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userCarSearchController</servlet-name>
        <servlet-class>controllers.userCarSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userCarBooking</servlet-name>
        <servlet-class>controllers.userCarBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userCarCompleteBooking</servlet-name>
        <servlet-class>controllers.userCarCompleteBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminCarListController</servlet-name>
        <servlet-class>controller.adminController.adminCarListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminCarAddController</servlet-name>
        <servlet-class>controller.adminController.adminCarAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminCarEditController</servlet-name>
        <servlet-class>controller.adminController.adminCarEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminCarBookedDisplayController</servlet-name>
        <servlet-class>controller.adminController.adminCarBookedDisplayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCar_ReportTour_FilePDF_Controller</servlet-name>
        <servlet-class>controller.adminController.AdminCar_ReportTour_FilePDF_Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminCar_ReportTour_FilePDF_Controller</servlet-name>
        <url-pattern>/AdminCar_ReportTour_FilePDF_Controller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminCarBookedEditController</servlet-name>
        <servlet-class>controller.adminController.adminCarBookedEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminCarBookedReport</servlet-name>
        <servlet-class>controller.adminController.adminCarBookedReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminPromotionDisplayController</servlet-name>
        <servlet-class>controller.adminController.adminPromotionDisplayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminPromotionAddController</servlet-name>
        <servlet-class>controller.adminController.adminPromotionAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminPromotionEditController</servlet-name>
        <servlet-class>controller.adminController.adminPromotionEditController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userCarFirstController</servlet-name>
        <url-pattern>/userCarFirstController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userCarPaginationController</servlet-name>
        <url-pattern>/userCarPaginationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userCarDetail</servlet-name>
        <url-pattern>/userCarDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userCarSearchController</servlet-name>
        <url-pattern>/userCarSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userCarBooking</servlet-name>
        <url-pattern>/userCarBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userCarCompleteBooking</servlet-name>
        <url-pattern>/userCarCompleteBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminCarListController</servlet-name>
        <url-pattern>/adminCarListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminCarAddController</servlet-name>
        <url-pattern>/adminCarAddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminCarEditController</servlet-name>
        <url-pattern>/adminCarEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminCarBookedDisplayController</servlet-name>
        <url-pattern>/adminCarBookedDisplayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminCarBookedEditController</servlet-name>
        <url-pattern>/adminCarBookedEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminCarBookedReport</servlet-name>
        <url-pattern>/adminCarBookedReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminPromotionDisplayController</servlet-name>
        <url-pattern>/adminPromotionDisplayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminPromotionAddController</servlet-name>
        <url-pattern>/adminPromotionAddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminPromotionEditController</servlet-name>
        <url-pattern>/adminPromotionEditController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FirstController</servlet-name>
        <servlet-class>controllers.FirstController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginationController</servlet-name>
        <servlet-class>controllers.PaginationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourDetail</servlet-name>
        <servlet-class>controllers.TourDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourBooking</servlet-name>
        <servlet-class>controllers.TourBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTourPrice</servlet-name>
        <servlet-class>controllers.GetTourPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketsAvailable</servlet-name>
        <servlet-class>controllers.TicketsAvailable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteBooking</servlet-name>
        <servlet-class>controllers.CompleteBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>printPDF</servlet-name>
        <servlet-class>controllers.printPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rating</servlet-name>
        <servlet-class>controllers.Rating</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentController</servlet-name>
        <servlet-class>controllers.CommentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstController</servlet-name>
        <url-pattern>/FirstController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginationController</servlet-name>
        <url-pattern>/PaginationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourDetail</servlet-name>
        <url-pattern>/TourDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourBooking</servlet-name>
        <url-pattern>/TourBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTourPrice</servlet-name>
        <url-pattern>/GetTourPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketsAvailable</servlet-name>
        <url-pattern>/TicketsAvailable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteBooking</servlet-name>
        <url-pattern>/CompleteBooking</url-pattern>
    </servlet-mapping>
    <!--///////////////TOAN///////////////////////////////// -->
    <servlet>
        <servlet-name>AdminTour_TourCategorySelect_Controller</servlet-name>
        <servlet-class>adminController.AdminTour_TourCategorySelect_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTour_TourcategoryInsert_Controller</servlet-name>
        <servlet-class>adminController.AdminTour_TourcategoryInsert_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTour_TourCategoryUpdate_Controller</servlet-name>
        <servlet-class>adminController.AdminTour_TourCategoryUpdate_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTour_TourInsert_Controller</servlet-name>
        <servlet-class>adminController.AdminTour_TourInsert_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTour_TourSelect_Controller</servlet-name>
        <servlet-class>adminController.AdminTour_TourSelect_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTour_Tour_Update_Controller</servlet-name>
        <servlet-class>adminController.AdminTour_Tour_Update_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTour_Tour_ChangeStatus_Controller</servlet-name>
        <servlet-class>adminController.AdminTour_Tour_ChangeStatus_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTour_TourDetail_Controller</servlet-name>
        <servlet-class>adminController.AdminTour_TourDetail_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTour_ScheduleInsert_Controller</servlet-name>
        <servlet-class>adminController.AdminTour_ScheduleInsert_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTour_Schedule_Add_Update_Delete_Extra_Controller</servlet-name>
        <servlet-class>adminController.AdminTour_Schedule_Add_Update_Delete_Extra_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTour_GroupTourReserver_DetailEdit_Controller</servlet-name>
        <servlet-class>adminController.AdminTour_GroupTourReserver_DetailEdit_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTour_OddTourReserved_DetailEdit_Controller</servlet-name>
        <servlet-class>adminController.AdminTour_OddTourReserved_DetailEdit_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTour_SearchController_OpenPage</servlet-name>
        <servlet-class>adminController.AdminTour_SearchController_OpenPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTour_PaginationController</servlet-name>
        <servlet-class>adminController.AdminTour_PaginationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTour_SearchController</servlet-name>
        <servlet-class>adminController.AdminTour_SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTour_SearchItsToursController</servlet-name>
        <servlet-class>adminController.AdminTour_SearchItsToursController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTour_TourReport_Controller</servlet-name>
        <servlet-class>adminController.AdminTour_TourReport_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTour_ReportTour_FilePDF_Controller</servlet-name>
        <servlet-class>adminController.AdminTour_ReportTour_FilePDF_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTour_SearchTourBooked_Controller</servlet-name>
        <servlet-class>adminController.AdminTour_SearchTourBooked_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTour_SearchTourBookedJSON_Controller</servlet-name>
        <servlet-class>adminController.AdminTour_SearchTourBookedJSON_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTour_SubTourReserved_Controller</servlet-name>
        <servlet-class>adminController.AdminTour_SubTourReserved_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTour_TourReserved_Select_Controller</servlet-name>
        <servlet-class>adminController.AdminTour_TourReserved_Select_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTour_PrintTour_Controller</servlet-name>
        <servlet-class>adminController.AdminTour_PrintTour_Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminTour_TourCategorySelect_Controller</servlet-name>
        <url-pattern>/AdminTour_TourCategorySelect_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTour_TourcategoryInsert_Controller</servlet-name>
        <url-pattern>/AdminTour_TourcategoryInsert_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTour_TourCategoryUpdate_Controller</servlet-name>
        <url-pattern>/AdminTour_TourCategoryUpdate_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTour_TourInsert_Controller</servlet-name>
        <url-pattern>/AdminTour_TourInsert_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTour_TourSelect_Controller</servlet-name>
        <url-pattern>/AdminTour_TourSelect_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTour_Tour_Update_Controller</servlet-name>
        <url-pattern>/AdminTour_Tour_Update_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTour_Tour_ChangeStatus_Controller</servlet-name>
        <url-pattern>/AdminTour_Tour_ChangeStatus_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTour_TourDetail_Controller</servlet-name>
        <url-pattern>/AdminTour_TourDetail_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTour_ScheduleInsert_Controller</servlet-name>
        <url-pattern>/AdminTour_ScheduleInsert_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTour_Schedule_Add_Update_Delete_Extra_Controller</servlet-name>
        <url-pattern>/AdminTour_Schedule_Add_Update_Delete_Extra_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTour_GroupTourReserver_DetailEdit_Controller</servlet-name>
        <url-pattern>/AdminTour_GroupTourReserver_DetailEdit_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTour_OddTourReserved_DetailEdit_Controller</servlet-name>
        <url-pattern>/AdminTour_OddTourReserved_DetailEdit_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTour_SearchController_OpenPage</servlet-name>
        <url-pattern>/AdminTour_SearchController_OpenPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTour_PaginationController</servlet-name>
        <url-pattern>/AdminTour_PaginationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTour_SearchController</servlet-name>
        <url-pattern>/AdminTour_SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTour_SearchItsToursController</servlet-name>
        <url-pattern>/AdminTour_SearchItsToursController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTour_TourReport_Controller</servlet-name>
        <url-pattern>/AdminTour_TourReport_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTour_ReportTour_FilePDF_Controller</servlet-name>
        <url-pattern>/AdminTour_ReportTour_FilePDF_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTour_SearchTourBooked_Controller</servlet-name>
        <url-pattern>/AdminTour_SearchTourBooked_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTour_SearchTourBookedJSON_Controller</servlet-name>
        <url-pattern>/AdminTour_SearchTourBookedJSON_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTour_SubTourReserved_Controller</servlet-name>
        <url-pattern>/AdminTour_SubTourReserved_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTour_TourReserved_Select_Controller</servlet-name>
        <url-pattern>/AdminTour_TourReserved_Select_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTour_PrintTour_Controller</servlet-name>
        <url-pattern>/AdminTour_PrintTour_Controller</url-pattern>
    </servlet-mapping>
    <!--///////////////////TOAN END/////////////////////////////////////-->
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>printPDF</servlet-name>
        <url-pattern>/printPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rating</servlet-name>
        <url-pattern>/Rating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentController</servlet-name>
        <url-pattern>/CommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>FirstController</welcome-file>
    </welcome-file-list>
    <ejb-local-ref>
        <ejb-ref-name>ToursFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionbean.ToursFacadeLocal</local>
        <ejb-link>WonderTravelling-ejb.jar#ToursFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CarFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionbean.CarFacadeLocal</local>
        <ejb-link>WonderTravelling-ejb.jar#CarFacade</ejb-link>
    </ejb-local-ref>
</web-app>
