.pnSearch {
    margin-top: 5px;
    width: 800px;
    height: 25px;
    margin-left: 225px;
    /*border-bottom-style: double; border-bottom-color: #d7e8e2;*/
}
.container {
    width: 1000px;
}
.btncustom {
    width: 60px; height: 25px;
}


/*table {
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
} 

.TourHistoryTableCaption {
    background-color: #0c4daf;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: whitesmoke;
    font-family: initial;
}

table th, td {
    border-left: none;
    border-right: none;
}*/



